body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
  }
  
  /* NAVBAR */
  .navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:white;
  }
  
  .logo{
    font-weight:800;
  }
  
  .logo span{
    color:#b7ff00;
  }
  
  nav a{
    margin-left:25px;
    text-decoration:none;
    color:black;
    font-weight:600;
  }
  
  /* HERO */
  .hero{
    position:relative;
    height:90vh;
    background:url("images/hero.png") center/cover no-repeat;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    color:white;
  }
  
  .hero::before{
    content:"";
    position:absolute;
    inset:0;
    backdrop-filter:blur(5px);
    background:rgba(0,0,0,0.45);
  }
  
  /* DARK OVERLAY */
  .overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.55);
  }
  
  /* CONTENT */
  .hero-content{
    position:relative;
    z-index:2;
    max-width:800px;
  }
  
  .hero h1{
    font-size:70px;
    margin:0;
    font-weight:900;
    letter-spacing:1px;
  }
  
  .hero span{
    color:#b7ff00;
  }
  
  .hero p{
    margin-top:15px;
    font-size:18px;
    opacity:0.9;
  }
  
  /* BUTTON */
  .btn{
    margin-top:25px;
    background:#b7ff00;
    border:none;
    padding:14px 35px;
    font-weight:700;
    cursor:pointer;
    transition:0.3s;
  }
  
  .btn:hover{
    transform:scale(1.05);
  }
  .featured{
    padding:60px 8%;
    text-align:center;
  }
  
  .product-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
  }
  
  .product{
    background:#fff;
    padding:20px;
    border-radius:10px;
    box-shadow:0 10px 20px rgba(0,0,0,0.1);
  }
  
  .product img{
    width:100%;
    border-radius:10px;
  }
  
  .product button{
    background:#b7ff00;
    border:none;
    padding:12px 25px;
    margin-top:10px;
    cursor:pointer;
    font-weight:bold;
  }
  .whatsapp{
    position:fixed;
    bottom:20px;
    right:20px;
    background:#25D366;
    color:white;
    padding:15px;
    border-radius:50%;
    font-size:20px;
    text-decoration:none;
    animation:pulse 2s infinite;
  }
  
  @keyframes pulse{
    0%{transform:scale(1);}
    50%{transform:scale(1.1);}
    100%{transform:scale(1);}
  }
  /* MOBILE FIX */
@media(max-width:768px){

    /* NAVBAR */
    .navbar{
      flex-direction:column;
      gap:8px;
      text-align:center;
    }
  
    nav{
      display:flex;
      gap:15px;
    }
  
    /* HERO TEXT */
    .hero h1{
      font-size:34px;
      padding:0 10px;
    }
  
    .hero p{
      font-size:14px;
      padding:0 20px;
    }
  
    /* BUTTON */
    .btn{
      padding:12px 25px;
      font-size:14px;
    }
  
    /* HERO HEIGHT */
    .hero{
      height:80vh;
    }
  
  }